In [1]:
def librerias():
  """ Importación de las librerias necesarias para el método """

import pandas
from sklearn import tree
import pydotplus
from sklearn.tree import DecisionTreeClassifier
%matplotlib notebook
import matplotlib.pyplot as plt
import matplotlib.image as pltimg

print(librerias.__doc__)

 Importación de las librerias necesarias para el método

In [4]:
def lecturabd():
    ''' Función para lectura del dataset
      Parametros
      ------------
      df : Carga de dataset
   '''
df = pandas.read_csv('water_potability.csv')
print(lecturabd.__doc__)
df.head()

 Función para lectura del dataset
      Parametros
      ------------
      df : Carga de dataset

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [7]:
def limpieza():    
  '''
  Parametros
  -------------
  df : Carga de dataset
  Funcion para limpiar dataset
  '''
df = df.fillna(0)
print(limpieza.__doc__)
df.head()

  Parametros
  -------------
  df : Carga de dataset
  Funcion para limpiar dataset

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,0.000000,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,0.000000,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,0.000000,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [8]:
def eleccion(): 
  ''' 
  Parametros
  ---------------
  features : Array de Caracteristicas
  X : Caracteristicas
  y : Objeto
  '''
features = ['ph', 'Hardness', 'Solids', 'Chloramines','Sulfate','Conductivity','Organic_carbon','Trihalomethanes','Turbidity']
X=df[features]
y = df['Potability']

print(eleccion.__doc__)
print(X, y, sep='\n\n')

  Parametros
  ---------------
  features : Array de Caracteristicas
  X : Caracteristicas
  y : Objeto

            ph    Hardness        Solids  Chloramines     Sulfate  \
0     0.000000  204.890455  20791.318981     7.300212  368.516441
1     3.716080  129.422921  18630.057858     6.635246    0.000000
2     8.099124  224.236259  19909.541732     9.275884    0.000000
3     8.316766  214.373394  22018.417441     8.059332  356.886136
4     9.092223  181.101509  17978.986339     6.546600  310.135738
...        ...         ...           ...          ...         ...
3271  4.668102  193.681735  47580.991603     7.166639  359.948574
3272  7.808856  193.553212  17329.802160     8.061362    0.000000
3273  9.419510  175.762646  33155.578218     7.350233    0.000000
3274  5.126763  230.603758  11983.869376     6.303357    0.000000
3275  7.874671  195.102299  17404.177061     7.509306    0.000000

      Conductivity  Organic_carbon  Trihalomethanes  Turbidity
0       564.308654       10.379783        86.990970   2.963135
1       592.885359       15.180013        56.329076   4.500656
2       418.606213       16.868637        66.420093   3.055934
3       363.266516       18.436524       100.341674   4.628771
4       398.410813       11.558279        31.997993   4.075075
...            ...             ...              ...        ...
3271    526.424171       13.894419        66.687695   4.435821
3272    392.449580       19.903225         0.000000   2.798243
3273    432.044783       11.039070        69.845400   3.298875
3274    402.883113       11.168946        77.488213   4.708658
3275    327.459760       16.140368        78.698446   2.309149

[3276 rows x 9 columns]

0       0
1       0
2       0
3       0
4       0
       ..
3271    1
3272    1
3273    1
3274    1
3275    1
Name: Potability, Length: 3276, dtype: int64

In [9]:
def arbolDecision(): 
  '''Creación del árbol de decision  y  construcción del clasificador de decisión a partir de las variables de entrenamiento'''
dtree = DecisionTreeClassifier()
dtree = dtree.fit(X, y)

print(arbolDecision.__doc__)

Creación del árbol de decision  y  construcción del clasificador de decisión a partir de las variables de entrenamiento

In [10]:
def GuardararbolDecision(): 
  '''
  Funcion para guardar el arbol de decision
  ------------------------------------------
  '''
data = tree.export_graphviz(dtree, out_file=None, feature_names=features)
graph = pydotplus.graph_from_dot_data(data)
graph.write_png('mydecisiontree.png')
print(GuardararbolDecision.__doc__)

dot: graph is too large for cairo-renderer bitmaps. Scaling by 0.972401 to fit


  Funcion para guardar el arbol de decision